@font-face {
    font-family: "Es Formal Standard Regular";
    /* src: url("../fonts/ESFormal-StandardRegular.otf"); */
    src: url('../fonts/woff-woff2/ESFormal-StandardRegular.woff2') format('woff2'),
    url('../fonts/woff-woff2/ESFormal-StandardRegular.woff') format('woff');
}

@font-face {
    font-family: "Es Formal Standard Bold";
    /* src: url("../fonts/ESFormal-StandardBold.otf"); */
    src: url('../fonts/woff-woff2/ESFormal-StandardBold.woff2') format('woff2'),
    url('../fonts/woff-woff2/ESFormal-StandardBold.woff') format('woff');
}

@font-face {
    font-family: "Es Formal Standard SemiBold";
    /* src: url("../fonts/ESFormal-StandardSemiBold.otf"); */
    src: url('../fonts/woff-woff2/ESFormal-StandardSemiBold.woff2') format('woff2'),
    url('../fonts/woff-woff2/ESFormal-StandardSemiBold.woff') format('woff');
}

@font-face {
    font-family: "Es Formal Standard Medium";
    /* src: url("../fonts/ESFormal-StandardMedium.otf"); */
    src: url('../fonts/woff-woff2/ESFormal-StandardMedium.woff2') format('woff2'),
    url('../fonts/woff-woff2/ESFormal-StandardMedium.woff') format('woff');
}

@font-face {
    font-family: "Es Formal Standard Medium Italic";
    /* src: url("../fonts/ESFormal-StandardMediumItalic.otf"); */
    src: url('../fonts/woff-woff2/ESFormal-StandardMediumItalic.woff2') format('woff2'),
    url('../fonts/woff-woff2/ESFormal-StandardMediumItalic.woff') format('woff');
}

@font-face {
    font-family: "Social Media Circled";
    src: url("../fonts/Social Media Circled.otf");
}

/* -------------------------------------------------------------------------- */
/*                                   Globals                                  */
/* -------------------------------------------------------------------------- */

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo {
    width: 500px;
}

.text {
    font-family: "Es Formal Standard Medium";
    font-size: 1.3rem;
    margin-top: 50px;
    text-align: center;
    width: fit-content;
}

#pageTimer {
    font-family: "Es Formal Standard Medium";
    font-size: 1.3rem;
    margin-top: 30px;
}

strong {
    font-weight: 100 !important;
}

@media(max-width: 576px) {
    .center-div {
        width: 100%;
        padding: 0 20px;
    }

    #pageTimer, .text {
        font-size: 0.9rem;
    }
}